extends layout
block content
    h1 Bokbara evenemang
    each event in events
        form(name="bookDayEvent", action="/bookdayevent", method="post")
            div.event
                h2 #{event.dayName}
                p Film: #{event.movieName}
                p Filmens speltid: #{event.movieTimeSpan.startTime}-#{event.movieTimeSpan.endTime}
                p Mat på Zekes Restaurang: #{event.dinnerTimeSpan.startTime}-#{event.dinnerTimeSpan.endTime}
                input(type="submit", name="submit", value="Boka")

            input(type="hidden", name="dayName", value=event.dayName)
            input(type="hidden", name="movieName", value=event.movieName)
            input(type="hidden", name="movieStartTime", value=event.movieTimeSpan.startTime)
            input(type="hidden", name="movieEndTime", value=event.movieTimeSpan.endTime)
            input(type="hidden", name="dinnerStartTime", value=event.dinnerTimeSpan.startTime)
            input(type="hidden", name="dinnerEndTime", value=event.dinnerTimeSpan.endTime)
